.vim/tmp/*
.vim/.netrwhist
.vim/plugged
.vim/colors
.fluxbox/fbrun_history
.fluxbox/lastwallpaper
.emacs.d/ac-comphist.dat
.emacs.d/elpa/*
.emacs.d/auto-save-list/
.emacs.d/recentf
.emacs.d/session*
bin/attic.sh
.vim/sessions
bin/fossil
bin/hasura-completions.sh
