# This is Git's per-user configuration file.
[merge]
	conflictstyle = diff3
[core]
	excludesfile = ~/.gitignore
[push]
	followTags = true
	default = current
[diff]
	compactionHeuristic = true
[pager]
	log = delta
	show = delta
	diff = delta
[interactive]
	diffFilter = delta --color-only
[log]
	decorate = auto
	abbrevCommit = true
[rebase]
	autoStash = true
#[pull]
#	rebase = true
[rerere]
	enabled = true
[format]
	pretty = %Cred%h%Creset %C(bold blue)<%<(16,trunc)%an> %Cgreen(%>>(14,trunc)%cr) %Creset %s%Creset%C(yellow)%d
