[color]
	ui = auto
[user]
	email = brian@contactology.com
	name = Brian Cottingham
[alias]
	w = diff --word-diff
	s = status --short
[merge]
	conflictstyle = diff3
	renormalize = true
[rerere]
	enabled = 1
[push]
	default = current
	default = upstream
