# This is Git's per-user configuration file.
[merge]
	conflictstyle = diff3
[core]
	excludesfile = ~/.gitignore
[push]
	followTags = true
	default = current
[diff]
	compactionHeuristic = true
[pager]
	log = git-diff-highlight | less
	show = git-diff-highlight | less
	diff = git-diff-highlight | less
[interactive]
	diffFilter = git-diff-highlight
[log]
	decorate = auto
	abbrevCommit = true
[rebase]
	autoStash = true
#[pull]
#	rebase = true
[rerere]
	enabled = true
[format]
	pretty = %Cred%h%Creset %C(bold blue)<%<(15,trunc)%an> %Cgreen(%>>(14,trunc)%cr) %Creset %s%Creset%C(yellow)%d
